*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

:root {
	--primary: #536942;
	--secondary: #FFD936;
	--white: #efefef;
}
body {
	font-family:"DM Sans", sans-serif;
	color: var(--primary);
}

a {
	text-decoration: none;
}

#main {
	background-image: url('banner.webp');
	min-height: 70vh;
	background-position: bottom center;
	background-size: cover;
}
.container {
	max-width: 1200px;
	padding: 16px;
	margin: auto;
}
section { 
margin:80px auto 
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list{
	display: flex;
	list-style: none;
	gap: 28px;
	align-items: center;

}
.nav-list a {
	color: var(--white);
}
.nav-list a:hover {
	border: 0.5px solid var(--white);
	border-radius: 5px;
	padding: 10px;
	box-shadow: .2px;
	background-color: var(--primary);
}
.btn {
	padding: 12px 20px;
	background: transparent;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}

.btn-secondary {
	border: 2px solid var(--white);
	color: white;
	font-weight: bold;
}
.btn-primary {
	border: none;
	background: var(--secondary);
	color: var(--primary);
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	color: var(--white);
}
.main-content .intro-heading {
	font-size: 50px;
}

.main-content .main-heading {
	font-size: 110px;
	margin-top: -20px;
}
.main-content p {
	max-width: 250px;
	margin-bottom: 10px;
}
.menu-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	width: 30p;x
}

.section-title h1 {
	font-size: 50px;
	text-align: center;

}
.section-title .line {
	width:150px;
	height: 4px;
	border:10px;
	background: var(--secondary);
	margin: auto;
}
.services {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
}

.service{
	width: 350px;
}
.service img {
	max-width: 100%;
	border-radius: 5px;
	transition: transform 0.3s ease;
}
.service img:hover {
	transform: scale(1.2);
}

#testimonial {
	background: #dee0ec;
}
#testimonial .container: img {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	gap: 30px;
	padding: 50px 16px;
}
#testimonial h1{
	font-size: 30px;
	font-family: 'forum', sans-serif;
	text-align: center;
}
#testimonial img {
display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer {
	margin-top: -60px;
}
footer .container {
	display: flex;
	padding: 20px 16px;
	justify-content: space-between;
	align-items: center;
}
.footer-links{
	display: flex;
	align-items: center;
	gap: 16px;
	list-style: none;
}
@media screen and (max-width: 520px) {
	.menu-btn{
		display: block;
	}
	.nav-list{
		flex-direction: column;
		background: gray;
		position: absolute;
		top: 0;
		max-width:900px;
		right: -900px;
		width: 80%;
		height: 100vh;
		padding-top: 80px;
		transition: all 0.3s ease;

	}
	.nav-list.active{
		right:0;
	}
	.nav-list li:not(:last-child) {
		text-align: left;
		width: 100%;
		padding: 10px 30px;
		border-bottom: 1px solid var(--white);

	}
	footer .container{
		flex-direction: column;
		gap: 16px;
	}
	.main-content .main-heading {
	font-size: 80px;
	margin-top: -20px;
}
}
